header {
    text-align: center;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:none ;
    font-style: italic;
    font-weight: bolder;
    font-size: xx-large;
    border: 5px 8px 4px;
}
body{
    color: rgb(5, 5, 5);
}
table h2 h3{
 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
nav li h1{
    color: blue;
    text-decoration-line: underline;
}
article li h1{
    color: blue;
    text-decoration-line: underline;
}

table h2 h3{
    float: left;
}
table div {
      
        border-image: auto;
}
article{

}